name: video_player_avfoundation_example
description: Demonstrates how to use the video_player_avfoundation plugin.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  video_player_avfoundation:
    path: ../
  video_player_platform_interface:
    git:
      url: https://github.com/sugith-pi/packages
      path: packages/video_player/video_player_platform_interface

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/Butterfly-209.mp4